@modelIEnumeable<pruebaCastor.Models.empleado>
@{
    ViewData["Title"] = "Lista de Contactos";
}

<div class="row">
   <div class="offset-0 col3 mb-3">
    <a asp-action="Crear" asp-controller="Inicio"  class="btn btn-cecondary dblock mx-auto btn-lg">Nuevo usuario
        
    </a>

   </div>
</div>


